
#tablero {
    background-image: url('tablero.png');
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 40px;
    height: 348px;
    width: 350px;
    position: relative;
}

#titleReport{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#letters{
    margin-top: -34px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;   
}

#letterA{
    width: 34px;
    position: absolute;
}

#letterB{
    position: absolute;
    margin-left: 50px;
}
#letterC{
    position: absolute;
    margin-left: 95px;
}
#letterD{
    position: absolute;
    margin-left: 145px;
}
#letterE{
    position: absolute;
    margin-left: 195px;
}
#letterF{
    position: absolute;
    margin-left: 245px;
}
#letterG{
    position: absolute;
    margin-left: 295px;
}
#letterH{
    position: absolute;
    margin-left: 345px;
}

#time{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
    font-size: 15px;
}

/*Numbers*/
#nums{
    position:absolute;
    margin-left: -40px;
    margin-top: -8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;  
    font-size: 18px; 
}

/*Class row*/
.row{
    width: 350px;
    height: 50px;
}

/*Black*/
#col1B{
    background-image: url('black2.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: -15px;
    margin-top: -20px;
}

#col2B{
    background-image: url('black2.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 35px;
    margin-top: -20px;
}

#col3B{
    background-image: url('black2.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 85px;
    margin-top: -20px;
}

#col4B{
    background-image: url('black2.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 135px;
    margin-top: -20px;
}

#col5B{
    background-image: url('black2.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 185px;
    margin-top: -20px;
}

#col6B{
    background-image: url('black2.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 230px;
    margin-top: -20px;
}

#col7B{
    background-image: url('black2.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 280px;
    margin-top: -20px;
}

#col8B{
    background-image: url('black2.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 330px;
    margin-top: -20px;
}

/*White*/
#col1W{
    background-image: url('white.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: -15px;
    margin-top: -20px;
}

#col2W{
    background-image: url('white.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 35px;
    margin-top: -20px;
}

#col3W{
    background-image: url('white.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 85px;
    margin-top: -20px;
}

#col4W{
    background-image: url('white.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 135px;
    margin-top: -20px;
}

#col5W{
    background-image: url('white.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 185px;
    margin-top: -20px;
}

#col6W{
    background-image: url('white.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 230px;
    margin-top: -20px;
}

#col7W{
    background-image: url('white.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 280px;
    margin-top: -20px;
}

#col8W{
    background-image: url('white.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 330px;
    margin-top: -20px;
}


/*-------------------------*/
/*Square*/
#sqr1{
    background-image: url('square.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: -15px;
    margin-top: -20px;
}

#sqr2{
    background-image: url('square.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 35px;
    margin-top: -20px;
}

#sqr3{
    background-image: url('square.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 85px;
    margin-top: -20px;
}

#sqr4{
    background-image: url('square.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 135px;
    margin-top: -20px;
}

#sqr5{
    background-image: url('square.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 185px;
    margin-top: -20px;
}

#sqr6{
    background-image: url('square.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 230px;
    margin-top: -20px;
}

#sqr7{
    background-image: url('square.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 280px;
    margin-top: -20px;
}

#sqr8{
    background-image: url('square.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 330px;
    margin-top: -20px;
}

/*circle*/
#cir1{
    background-image: url('circle.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: -15px;
    margin-top: -20px;
}

#cir2{
    background-image: url('circle.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 35px;
    margin-top: -20px;
}

#cir3{
    background-image: url('circle.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 85px;
    margin-top: -20px;
}

#cir4{
    background-image: url('circle.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 135px;
    margin-top: -20px;
}

#cir5{
    background-image: url('circle.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 185px;
    margin-top: -20px;
}

#cir6{
    background-image: url('circle.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 230px;
    margin-top: -20px;
}

#cir7{
    background-image: url('circle.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 280px;
    margin-top: -20px;
}

#cir8{
    background-image: url('circle.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 330px;
    margin-top: -20px;
}

/*Triangle*/
#tri1{
    background-image: url('triangle.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: -15px;
    margin-top: -20px;
}

#tri2{
    background-image: url('triangle.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 35px;
    margin-top: -20px;
}

#tri3{
    background-image: url('triangle.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 85px;
    margin-top: -20px;
}

#tri4{
    background-image: url('triangle.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 135px;
    margin-top: -20px;
}

#tri5{
    background-image: url('triangle.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 185px;
    margin-top: -20px;
}

#tri6{
    background-image: url('triangle.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 230px;
    margin-top: -20px;
}

#tri7{
    background-image: url('triangle.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 280px;
    margin-top: -20px;
}

#tri8{
    background-image: url('triangle.png');
    width: 34px;
    height: 34px;
    position: absolute;
    margin-left: 330px;
    margin-top: -20px;
}
